.inventory_file {
  min-height:300px;
  text-align:center;
}

.inventory_file .save_button {
  position:absolute; right:0px;
}

.inventory_file .file_header {
  height:50px;
}

.inventory_file .file_header span {
  margin-left:5px; margin-top:15px;
}

.inventory_file .file_header input {
  display:block; margin-top:15px; width:160px;
}
