.cart {
  padding:10px; padding-left:5px; padding-right:5px;
}

.cart table {
  width:100%;
}

.cart th {
  padding:7px;
  text-align:left;
  border:none; border-radius:5px;
}

.cart .cart_table_item {
  color:#3D557E;
  background-color:#f3f3f3;
}

.cart .cart_table_item:nth-child(even) {
  background-color:#dddddd;
}

.cart .cart_table_item:focus  {
  outline-color:#fbb306; background-color:#fff0ca;
}

.cart .cart_table_header th {
  background-color:#3D557E;
  color:white;
}

.cart .cart_table_footer th {
  background-color:#3D557E;
  color:white;
}

.cart .right {
  position:absolute; right:0px; margin-right:10px;
}

.cart .status_table {
  max-width:50%; margin-bottom:10px;
  background-color:#f5f1e0;
}

.cart .cart_header {
  height:50px;
}

.cart .status_text {
  position:relative; margin:3px; top:20px;
}
