.cart {
  padding:10px; padding-left:5px; padding-right:5px;
}

.cart table {
  border-collapse:collapse;
  width:100%;
}

.cart table .cart_table_header th {
  background-color:#3D557E; border-style:hidden; border-radius:unset;
  color:white;
}

.cart th {
  border:#3d557eab; border-width:1px; border-radius:5px; border-style:solid;
  text-align:left;
  padding:8px;
}

.cart table tr:focus  {
  outline-color:#f5f1e0;
	background-color:#f5f1e0;
}

.cart tr:nth-child(even) {
  background-color:#dddddd;
}

.cart .right {
  position:absolute; right:0px; margin-right:10px;
}

.cart .status_table {
  max-width:50%; margin-bottom:10px;
  background-color:#f5f1e0;
}

.cart .cart_header {
  height:50px;
}

.cart .status_text {
  position:relative; margin:3px; top:20px;
}
