.inventory_header {
  height: 30px;
  border:#3d557eab; border-radius:5px; border-style:solid; border-left-width:0px; border-right-width:0px; border-top-width:0px;
  margin:0px;
}

.inventory_header .item_path {
  display:inline; margin:3px;
  font-size:25px;
}

.inventory_header .search {
  position:absolute; right:0px; margin-right:5px;
  font-size:28px;
}

.inventory_header .home {
  font-size:28px;
}

.inventory_header .arrow {
  margin:5px;
  font-size:20px;
}

.inventory_header .clickable_path_item {
  text-decoration:underline;
}
