.html_class
{
	background:rgba(198, 204, 213, 1);
}

.body_class
{
	margin:0px; color:#3D557E;
}

.header_container_class
{
	height:40px; background:#3D557E; box-shadow:0 0 3px #112A56,0 3px 6px #112A56; color:white;
}

.page_container_class
{
	/*background:rgba(198, 204, 213, 0.81);*/
	height:600px; margin: 20px;
}

.popup_container
{
	position:absolute; border:1px solid gray;
}

.context_menu_container_class
{
	position:absolute; /* left : 100px; top : 150px;*/
}

.login_popup_class
{
	right:5px; top:40px;
}

.user_profile_popup_class
{
	right:5px; top:40px;
}

.search_popup_class
{
	right:5px; top:100px; width:100%;
}

.folders_area_class
{
	/*margin: auto;*/
}

.folders_scroll_panel_class
{
	overflow:auto; width:800px; height:100%; min-height:600px; border:1px solid gray;
}

.item_scroll_panel_class
{
	overflow:auto; width:800px; height:100%; min-height:600px; border:1px solid gray;
}

.group_header_class
{
	width:800px; height:50px;
}

.group_path_class
{
	display:inline-block; float:middle;
}

.folder_class
{
	width:100px; height:120px; float:left;
}

.folder_image_class
{
	cursor:pointer; cursor:hand; width:100px; height:88px;
}

.session_button_class
{
   	position:absolute; right:0px; width:60px; height:40px; margin:auto;
}

.session_button_text_class
{
	text-align:center; margin-top:10px;
}

.button_class
{
	color:#3D557E; margin:5px; width:70px; height:30px; background-color:white;
	border:none; border-radius:50%; box-shadow:0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28); 
	cursor:pointer; cursor:hand;
}

.search_button_class
{
	display:inline-block; float:right;
}

.input_class
{
	color:#3D557E;
}

.margin_class
{
	margin:5px;
}