<style>
	#folder_icon 
	{
	    line-height:30px;
	    background-color:#eeeeee;
	    height:300px;
	    width:100px;
	    float:left;
	    padding:5px; 
	}

	.context_menu_container_class
	{
		position : absolute; 
		left : 100px; 
		top : 150px;
	}
</style>