html {
	-webkit-touch-callout: none; -moz-user-select: none; -webkit-user-select: none; /*HACK: Fix iOS oncontextmenu event*/
	background: rgba(198, 204, 213, 1);
}

body {
	margin: 0px;
  color: #3D557E;
}

button
{
	color:#3D557E; margin:5px; width:70px; height:30px; background-color:white;
	border:none; border-radius:50%; box-shadow:0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	cursor:pointer; cursor:hand;
}
