.login_popup .container {
	top:40px; right:5px;
}

.login_popup button {
	display: block;
	font-size:15px;
	width:120px;
	margin-top: 25px;
}

.login_popup .spinner {
	border: medium none; border-radius:10px;
}

.login_popup div.grayout
{
	background: rgba(0, 0, 0, 0);
}
