.add_to_cart_popup .popup_content {
	position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); /*Center on screen*/
	padding:20px; min-width:200px; min-height:250px;
}

.add_to_cart_popup .search_result {
	margin-top:80px;
	text-align: center;
}

.add_to_cart_popup input {
  min-width:190px;
}

.add_to_cart_popup .lsf.symbol {
  font-size:20px;
}
