.login_popup .modal_content {
	top:40px; right:5px;
}

.login_popup button {
	display:block; width:120px; margin-top:25px;
	font-size:15px;
}

.login_popup .spinner {
	border:medium none; border-radius:10px;
}

.login_popup div.grayout
{
	background:rgba(0, 0, 0, 0);
}
